# AWS
AWS_REGION=us-east-1
ECR_REPOSITORY=kata-senior-ml-api

# Terraform
TF_VAR_project_name=kata-senior-ml
TF_VAR_frontend_bucket_name=kata-senior-ml-frontend-<aws-account-id>-<aws-region>
TF_VAR_model_bucket_name=kata-senior-ml-models-<aws-account-id>-<aws-region>
TF_VAR_lambda_image_uri=<aws-account-id>.dkr.ecr.<aws-region>.amazonaws.com/kata-senior-ml-api:bootstrap

# API
MODEL_PATH=api/model/mnist_cnn.h5
